body {
    background-image: url("image/black.jpg");
}

h1 {
    color: blueviolet;
    text-align: center;
}

input {
    background-color: #f66f6a;
    color: white;
    width: 400px;
    height: 45px;
    border: 0;
    font-size: 16px;
    box-sizing: content-box;
    border-radius: 5px;
}
.warp{
    line-height: 200px;/*垂直居中关键*/
    text-align:center;
    height: 200px;
    font-size: 36px;
}
.wj{
    line-height: 200px;/*垂直居中关键*/
    text-align:center;
    height: 200px;
    font-size: 36px;
}
